#createCompany-container{
    padding: 2rem;

    /* background-color: #aaa; */
}

    #form-create-company{
        max-width: 40rem;
        margin: auto;
        padding: 2rem 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid black;
    }
    #form-create-company div{
        margin: auto;
        margin-top: .5rem;
        display: inline-block;
    }
    #form-create-company input {
        height: 2rem;
        width: 15rem;
    }
    #form-create-company textarea {
        height: 10rem;
        width: 15rem;
    }
    #form-create-company input[type=file] {
        height: 2rem;
        width: 100%;
        border: 1px solid grey;
    }
    #form-create-company div > *{
        display: flex
    }
    #saveButton{
        position: relative;
        display: inline-block;
        margin: 0 5rem;
        margin: 3rem auto;
    }
