@media (max-width: 576px){
    #CreateCompany_container{
        width: 95%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
    }

        #CreateCompany_form{
            margin: auto;
            padding: 1rem;
            display: flex;
            flex-flow: column wrap;
        }
        #CreateCompany_form div{
            margin-top: 1rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
        #CreateCompany_form input {
            flex: 1 1 70%;
        }
        #CreateCompany_form label {
            flex: 1 1 25%;
        }
        #CreateCompany_form textarea {
            height: 10rem;
            width: 15rem;
        }
        #CreateCompany_form input[type=file] {
            height: 2rem;
            width: 100%;
            border: 1px solid grey;
        }
        #fCreateCompany_form div > *{
            display: flex
        }
        #saveButton{
            position: relative;
            display: inline-block;
            margin: 0 5rem;
            margin: 3rem auto;
        }
}

@media (min-width: 577px){
    #CreateCompany_container{
        width: 95%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
    }

        #CreateCompany_form{
            margin: auto;
            padding: 1rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
        #CreateCompany_form div{
            flex: 1 1 40%;
            margin: 1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
        #CreateCompany_form input {
            flex: 1 1 70%;
        }
        #CreateCompany_form label {
            flex: 1 1 25%;
        }
        #CreateCompany_form textarea {
            height: 10rem;
            width: 15rem;
        }
        #CreateCompany_form input[type=file] {
            height: 2rem;
            width: 100%;
            /* border: 1px solid grey; */
        }
        #fCreateCompany_form div > *{
            display: flex
        }
        
        #CreateCompany_updateImg{
            min-width: 80%;
        }
        
        #CreateCompany_saveButton{
            min-width: 80%;
        }

}