@media (max-width: 576px){
    .reservation_container{
        width: 95%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
    }

        .reservation_form section div{
            margin: .5rem auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .reservation_form div{
            margin: .5rem auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        
    .reservationTable_container{
        width: 100%;
        border-radius: 7px;
    }

    .sendReservation_button button{
        margin: 2rem auto;
    }
}

@media (min-width: 577px){
    .reservation_container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
    }

    .reservation_form{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .reservation_form section{
        /* border: 1px solid black; */
        flex: 1 1 90%;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
    }

    section div {
        flex: 1 1 40%;
        display: flex;
        flex-flow: row wrap;
        /* align-items: baseline; */
    }

    #InputSearch {
        border: 2px solid black;
        width: 90%;
    }

    .reservation_form div{
        margin: .5rem .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 45%;
    }

    .reservationTable_container{
        width: 100%;
        border-radius: 7px;
    }

    .sendReservation_button{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .sendReservation_button button{
        margin: 3rem auto;
    }
}