@media (max-width: 576px){
    .reservation_container{
        width: 95%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
    }

    .reservation_form{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

        .reservation_form div{
            margin: .5rem auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        
    .reservationTable_container{
        width: 100%;
        border-radius: 7px;
    }

    .sendReservation_button button{
        margin: 2rem auto;
    }
}

@media (min-width: 577px){
    .reservation_container{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
    }

    .reservation_form{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .reservationLogo_container section{
        margin: auto;
    }

    .reservationData_container {
        flex: 1 1 40%;
        display: flex;
        flex-flow: row wrap;
    }

    .reservationData_container div {
        flex: 1 1 90%;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
    }

    .reservation_form div{
        margin: .5rem .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 45%;
    }

    .reservation_form section{
        width: 90%;
    }

    .reservationTable_container{
        width: 100%;
        border-radius: 7px;
    }

    .sendReservation_button{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .sendReservation_button button{
        margin: 3rem auto;
    }
}