#CreateUser_container{
    padding: 1rem;
}

@media (max-width: 576px){
    #formCreateUser{
        max-width: 95%;
        margin: 0 auto;
        padding: 1rem 1rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        }

        #formCreateUser #user_name {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }

        #formCreateUser #user_pass {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }
        
        #formCreateUser #user_state {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectRole{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #userState {
            margin: 0.5rem 1rem;
            padding: 0 auto;
            height: 2rem;
            display: flex;
            justify-content: centser;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectCompany{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectBranch{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #uploadUserImg{
            margin: 0.5rem 1rem;
            padding: 0 auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            }

            #uploadUserImg #labelImg{
                flex: 1 1 30%;
                padding: .2rem
                }
        
            #uploadUserImg #img{
                flex: 1 2 80%;
                }
    
 
}

@media (min-width: 577px){

    #formCreateUser{
        max-width: 95%;
        margin: 0 auto;
        padding: 2rem 2rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        }

        #formCreateUser #user_name {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }

        #formCreateUser #user_pass {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }
        
        #formCreateUser #user_state {
            margin: 0.5rem 1rem;
            height: 2rem;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectRole{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #userState {
            margin: 0.5rem 1rem;
            padding: 0 auto;
            height: 2rem;
            display: flex;
            justify-content: centser;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectCompany{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #selectBranch{
            height: 2.3rem;
            margin: 0.5rem 1rem;
            border-radius: 5px;
            flex: 1 1 12rem;
            }

        #formCreateUser #uploadUserImg{
            margin: 0.5rem 1rem;
            padding: 0 auto;
            height: auto;
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            }

            #uploadUserImg #labelImg{
                flex: 1 1 30%;
                padding: 1rem;
                }
        
            #uploadUserImg #img{
                flex: 1 2 80%;
                }
}    
