@media (max-width: 576px){
    
    #ListUsers_main{
        display: flex;
        flex-flow: column nowrap;
        margin: auto;
    }

    #ListUsers_header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #ListUsers_header div{
        width: 95%;
        margin: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ListUsers_header div input{
        flex: 0 0 60%
    }
    #ListUsers_header div select{
        flex: 0 0 60%
    }
}

@media (min-width: 577px){
    
    #ListUsers_main{
        display: flex;
        flex-flow: column nowrap;
        margin: auto;
    }

    #ListUsers_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #ListUsers_header div{
        display: flex;
        align-items: center;
        margin: 0 2rem;
    }

    #ListUsers_header div label{
        margin: 0 .5rem;
    }
}