#userProfileContainer{
    border: 1px solid grey;
    padding: auto;
    margin: auto;
    width: 80%;
}

    #headerUserProfile{
        text-align: center;
        display: block;
        width: 80%;
        margin: auto;        
        margin-top: 2ch;
        margin-bottom: 2ch;
    }

    #user{
        border: 1px solid green;
        }

        #userImg{

        }

        #userData{
            position: relative;
        }

    #formChangePass{
        border: 1px solid grey;
        width: 80%;
        margin: auto;
    }

        #formChangePass input{
            max-width: 15rem;
            margin: auto;
            margin-top: 1rem;
        }

        #formChangePass button{
            display: block;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }