@media (max-width: 576px){

    #userProfile_container{
        padding: auto;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
    }

        #headerUserProfile{
            text-align: center;
            margin: auto;        
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        #user_form{
            display: flex;
            flex-flow: column nowrap;
            padding: 1rem;
            margin-bottom: 1rem;
            }

            #userImg{
                width: 80%;
                margin: auto;
                }

            #userImg img{
                width: 75%;

            }

            #userData{
                width: 80%;
                margin: auto;
                display: flex;
                flex-flow: column nowrap;
                }

                #userData div{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    margin-top: .5rem;
                    }

                    #userData div label{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: .9rem;
                        flex: 1 2 12rem;

                    }

                    #userData div input{
                        flex: 1 1 auto;
                    }

        #formChangePass{
            width: 80%;
            margin: auto;
        }

            #formChangePass input{
                display: block;
                max-width: 15rem;
                margin: auto;
                margin-top: 1rem;
            }

            #formChangePass button{
                display: block;
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
}

@media (min-width: 577px){
    #headerUserProfile{
        text-align: center;
        margin: auto;        
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        }

    #user_form{
        /* border: thin solid blueviolet; */
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        margin: auto;
        width: 90%;
        padding: 1rem;
        }

        #user_form #userImg{
            margin: 0; 
            height: 14rem;
            flex: 1 1 35%;
        }
        
        #user_form #userImg img{
            margin: 0;
            width: 80%;
            
        }
        #userData{
            /* border: thin solid black; */
            width: 80%;
            margin: auto;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 70%;

            }

            #userData div{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                margin-top: .5rem;
                }

                #userData div label{
                    /* border: thin solid black; */
                    font-family: Arial, Helvetica, sans-serif;
                    flex: 0 0 20%;
                    padding: 0;

                }

                #userData div input{
                    flex: 0 0 50%;
                }

    #formChangePass{
        width: 80%;
        margin: auto;
    }

        #formChangePass input{
            display:block;
            max-width: 15rem;
            margin: auto;
            margin-top: 1rem;
        }

        #formChangePass button{
            display: block;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
   
}